--- 
// @ts-ignore - Don't know why Astro isn't picking up on the  module
import { sanityClient } from "sanity:client";

import imageUrlBuilder from "@sanity/image-url";
import type { SanityImageObject } from "@sanity/image-url/lib/types/types";
import PhotoDescription from "./SanityDescription.astro";

const { photo, title, description, location, alt } = Astro.props.node

const builder = imageUrlBuilder(sanityClient)
const urlFor = (source: SanityImageObject) => builder.image(source);

const url = urlFor(photo).url()
const webpUrl = urlFor(photo).format('webp').url()
---

<div class="group flex flex-col space-y-6 lg:max-w-5xl lg:flex-row lg:space-x-11 lg:space-y-0">
    <picture>
        <source
            srcset={webpUrl}
            type="image/webp"
        />
        <img
            class="responsive__img max-h-[550px] max-w-xs lg:max-w-xl transition ease-in-out delay-750 group-hover:scale-[1.015]"
            src={url}
            alt={alt}
        />
    </picture>

    <div class="hidden max-w-xs leading-relaxed md:max-w-none md:leading-normal transition-ease-in-out delay-1000 group-hover:block space-y-5">
        <div>
            <p class="font-semibold">{title}</p>
            <p class="text-xs italic">{location}</p>
        </div>
        <PhotoDescription text={description}/>
    </div>
</div>
